
{% extends "alimentos/base.html" %}

{% block tittle %} menu {% endblock %}

{% block content  %}
{% load static %}

<div class="container">
		<div class="row">
			<div class="col s12">

				<div class="col s6 ">
					<h3>Gato Adulto</h3>
					<br>
					<img src="{% static 'imagenes/Gato_adulto_champion.jfif' %}" height="480" width="360">
					<br>
					<h4>Champion Cat</h4>
				</div>

				<div class="col s6 ">
					<h3>Gato Adulto</h3>
					<br>
					<img src="{% static 'imagenes/Gato_adulto_purina.webp' %}" height="480" width="360">
					<br>
					<h4>Purina Cat Show</h4>
				</div>
				<br>
				<br>
				<div class="col s6 ">
					<h3>Gato Adulto</h3>
					<br>
					<img src="{% static 'imagenes/Gato_adulto_raza.jpg' %}" height="480" width="360">
					<br>
					<h4>Raza</h4>
				</div>
				<br>
				<br>
				<div class="col s6 ">
					<h3>Gato Adulto</h3>
					<br>
					<img src="{% static 'imagenes/gato_purina.jfif' %}" height="480" width="360">
					<br>
					<h4>Purina Pro Plan</h4>
				</div>
				<br>
				<br>
				<div class="col s6 ">
					<h3>Gato Adulto</h3>
					<br>
					<img src="{% static 'imagenes/Gatos_adulto.webp' %}" height="480" width="360">
					<br>
					<h4>Whiskas</h4>
				</div>


			</div>
        </div>
</div>






{% endblock%}

{% block javascript %}


{% endblock %}