{% extends "alimentos/base.html" %}

{% block tittle %} menu {% endblock %}

{% block content  %}
{% load static %}
<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="col s6 ">
					<h3>Perros Cachorros</h3>
					<br>
					<img src="{%static 'imagenes/Perro_cachorro_cahampion.jpg' %}" height="480" width="360">
					<br>
					<h4>Champion dog</h4>
				</div>
				<div class="col s6 ">
					<h3>Perros Cachorros</h3>
					<br>
					<img src="{%static 'imagenes/perro_cachorro_pedegree.webp' %}" height="480" width="360">
					<br>
					<h4>Pedigree</h4>
				</div>
				<div class="col s6 ">
					<h3>Perros Adulto</h3>
					<br>
					<img src="{%static 'imagenes/perro_adulto_master.webp' %}" height="480" width="360">
					<br>
					<h4>Master Dog</h4>
				</div>
				<div class="col s6 ">
					<h3>Perros Adulto</h3>
					<br>
					<img src="{%static 'imagenes/perro_aulto_pedigree.jfif' %}" height="480" width="360">
					<br>
					<h4>Pedigree</h4>
				</div>




			</div>
		</div>
	</div>
{% endblock%}

{% block javascript %}


{% endblock %}