{% extends "alimentos/base.html" %}

{% block tittle %} menu {% endblock %}

{% block content  %}
{% load static %}

    <h1>C.O.N.T.A.C.T.O</h1>


    <center>
        <h2>¿Deseas solicitar una compra?</h2>
    </center>
    <header id="cont">
        <center><label >Fono:<br> +56988127896 </label></center>
        <br>
        <center><label >Direccion:<br> Freire231 Sn Bernardo</label></center>
        <br>
        <center><label >Correo electrenico:<br> rincondelamascota@animal.com</label></center>
        <br>
        <center><label >Facebook:<br> Rincon De La Mascota</label></center>
    </header>



{% endblock%}

{% block javascript %}


{% endblock %}